.container {
  .button {
    z-index: 999999;
    position: fixed;
    width: 36px;
    height: 36px;
    bottom: 20px;
    right: 20px;
    opacity: 0.6;
    transition: opacity .5s ease-in;
    cursor: pointer;

    &Mini {
      transition: right .2s ease-in;
      right: -10px;
    }

    :global {
      @media only screen and (max-width: 760px) {
        & {
          display: none;
        }
      }
    }

    img {
      width: 100%;
    }

    &:hover {
      opacity: 1;

      .showMini {
        opacity: 1;
      }
    }

    &Hide {
      opacity: 0;
      pointer-events: none;
    }
  }

  .minimize {
    position: absolute;
    right: -9px;
    top: -8px;
    border-radius: 100%;
    opacity: 0;
    width: 6px !important;
    padding: 4px;
    background: #ee6723;
    transition: opacity .5s ease-in;
    box-sizing: content-box;
  }
}
